.submit {
  display: flex;
  margin: 4.266667vw 0;

  .btn {
    width: 100%;
    border: 1px solid #d9d9d9;
    background: #fff;
    border-radius: 3px;
    padding: 1.333333vw 2.666667vw;
    outline: none;
  }
}
